body {
    margin: 0;
    padding: 0;
    background: #000;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}

.nav {
    display: flex;
    justify-content: space-between;
    padding: 15px 20px;
    background: #111;
    border-bottom: 1px solid #222;
}

.nav h2 {
    margin: 0;
    font-weight: 700;
    letter-spacing: 2px;
}

.container {
    padding: 20px;
    max-width: 700px;
    margin: auto;
}

.center {
    text-align: center;
    margin-top: 80px;
}

.hero {
    font-size: 48px;
    margin-bottom: 10px;
}

.sub {
    font-size: 18px;
    color: #aaa;
    margin-bottom: 40px;
}

.btn {
    background: #fff;
    color: #000;
    padding: 12px 28px;
    border-radius: 4px;
    text-decoration: none;
    font-weight: bold;
    letter-spacing: 1px;
}

.small-btn {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.post {
    background: #111;
    padding: 18px;
    border-radius: 6px;
    margin-bottom: 20px;
    border: 1px solid #222;
}

.content {
    font-size: 20px;
    margin-bottom: 10px;
}

.actions a {
    color: #aaa;
    margin-right: 20px;
    text-decoration: none;
}

textarea {
    width: 100%;
    height: 150px;
    background: #111;
    border: 1px solid #333;
    color: white;
    padding: 10px;
    font-size: 18px;
}
