<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Post - ScrollBreaker</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="nav">
    <a href="/" class="nav-btn">Home</a>
    <a href="/feed" class="nav-btn">Feed</a>
</div>

<div class="container">
    <h2 class="feed-title">CREATE A POST</h2>

    <form method="POST" class="form-box">
        <textarea name="content" placeholder="Write your truth..." required></textarea>
        <button type="submit" class="btn">Post</button>
    </form>
</div>

</body>
</html>
