<!DOCTYPE html>
<html>
<head>
    <title>Feed - ScrollBreaker</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="nav">
    <h2>FEED</h2>
    <a href="/create" class="small-btn">Create</a>
</div>

<div class="container">

    {% for p in posts %}
    <div class="post">
        <p class="content">{{ p[1] }}</p>

        <div class="actions">
            <a href="/like/{{ p[0] }}">❤️ {{ p[2] }}</a>
            <a href="/repost/{{ p[0] }}">🔁 {{ p[3] }}</a>
        </div>
    </div>
    {% endfor %}

</div>

</body>
</html>
