<!DOCTYPE html>
<html>
<head>
    <title>Feed</title>
</head>
<body>
    <h1>Feed</h1>

    <a href="/">Home</a>
    <a href="/create" style="margin-left:20px;">Create Post</a>

    <hr>

    {% for post in posts %}
        <div style="margin-bottom:20px; padding:10px; border:1px solid black;">
            <p>{{ post[1] }}</p>

            <p>Likes: {{ post[2] }}  
                <a href="/like/{{ post[0] }}">Like</a>
            </p>

            <p>Reposts: {{ post[3] }}  
                <a href="/repost/{{ post[0] }}">Repost</a>
            </p>
        </div>
    {% endfor %}
</body>
</html>
